*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
nav{
    display: flex;
    height: 90px;
    width: 1200px;
    margin: 20px auto;
    /* border: none; */
    border: 2px solid rgb(39, 27, 52);
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 38px;
    
    
}

nav #logo>h1{
    font-size: 30px;
    font-weight: 700;
}
nav #logo>h1::first-letter{
    color: red;
    font-size: 35px;
}

#hamburger{
    display: none;
}

#group{
   height: 35px;
    width: 40px;
    flex-direction: column;
    justify-content: space-evenly;
    display: flex;
    display: none;
}
#group span{
    display: flex;
    background-color: black;
    height: 5px;
    width: 50px;
    border: 1px solid wheat;
}
#navigation_option{
    display: flex;
    flex-basis: 25%;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
#navigation_option a{
    text-decoration: none;
    /* color: black; */
    font-size: 25px;
    font-weight: 600;
    position: relative;
    padding-bottom: 5px;
}
a::after{
    content: "";
    position:absolute;
    bottom: 0;
    left:0;
    width: 0%;
    height: 3px;
   
    background-color: rgb(40, 39, 39);
    transition:width 0.5s ease;
}
a:hover::after{
    width: 100%;
    
    
}
a:hover{
    color: black;
}
#search_box{
    width: 300px;
    height: 42px;
    border: 2px solid rgb(95, 89, 89);
    display: flex;
    border-radius: 25px;
    overflow: hidden;
}

#search_box input{
    flex: 1;
    border: none;
    outline: none;
    padding-left: 20px;
    font-size: 16px;
}
#search_logo{
    width: 42px;
    height: 42px;
    background-color:rgb(70, 29, 203);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
#Cart{
    font-size: 25px;
    font-weight: 600;
    
}
#Cart i{
    color: rgb(10, 11, 11);
    font-size: 6    0px;

}
#search_box:focus-within{
    box-shadow: 0px 0px 10px rgb(48, 48, 66);
}

body{
    background-color: rgb(175, 192, 116);
}


@media (max-width:750px){
    #navigation_option div,#searchbar,#Cart{
        display: none;
    }
    #group{
        display: flex;
        margin-left: 100px;

    }
    #hamburger:checked~#navigation_option div,
    #hamburger:checked~#search_box,
    #hamburger:checked~#Cart{
        display: flex;
    }
    nav{
        width: 90%;
        height: auto;
        padding: 15px 30px 0 30px;
        flex-wrap: wrap;
        gap:15px;
    }
    #navigation_option{
        width: 100%;
        flex-direction: column;
        align-items: center;

    }
    #search_box{
        margin-left: 200px;

    }
    #search_box input{
        width: 85%;
        font-size: 16px;
    }
    #Cart{
        width: 100%;
        padding-left: 20px;
    }



}





        #root{
            display: flex;
            flex-wrap: wrap;
            /* text-align: center; */
            justify-content: space-evenly;
            gap: 10px;
            background-color: rgb(3, 3, 3);

        }
        
        main{
            border-radius: 15px;
            height: 550px;
            width: 450px;
            box-shadow: 0px 0px 10px rgb(235, 218, 218);
            /* border: 1px solid rgb(27, 24, 24); */
            margin-top: 15px;
            /* padding: 10px; */
            background-color: rgba(197, 183, 174, 0.829);
            color: black;
             overflow: hidden;
             line-height: 30px;
             /* padding-left: 10px; */
             /* margin-bottom: 10px; */
        }
        #img{
            background-color: rgb(225, 128, 72);
        }
        img{
            width: 100%;
            height: 260px;
            margin-bottom: 10px;
            
            transition:all 1s;
        }
        img:hover{
            transform: scale(1.1);
            /* transition-duration: 1s ; */
            overflow: hidden;
        }
        #title{
            display: block;
            text-align: center;
        }
        
        #rp{
            margin-top: 20px;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            color: white;
            font-size: 18px;
        }
        #r{
            height: 70px;
            width: 180px;
            /* border: 2px solid ; */
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            background-color: rgb(55, 55, 97);
        }
        #p{
            height: 70px;
            width: 180px;
            /* border: 2px solid black; */
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            background-color: rgb(68, 59, 97);
        }


        #button{
            display: flex;
            justify-content: space-between;
            padding: 0px 10px ;
        }
        button:hover{
            transform: scale(1.1);
            transition-duration: 1s ;
            overflow: hidden;
        }
        button{
            margin-top: 10px;
            height: 70px;
            width: 180px;
              /* border: 2px solid ; */
            /* font-weight: bold; */
            font-size: 22px;
            background-color: rgb(179, 106, 10);
            border: none;
            border-radius: 10px;
        }
        button a{
            color: white;
            text-decoration: none;

        }